@import "../../node_modules/bootstrap/scss/_variables";

@mixin background-it($path) {
  background-image: $path;
  color: white;
}


$bg-image: url(/img/forest.jpg);
$text-color: white;

.custom {
  @include background-it($bg-image)
}

.app-appear {
  opacity: 0.01
}

.app-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
